[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
vast-xmatch = {editable = true, path = "."}

[dev-packages]
flake8 = "*"
black = "*"
mypy = "*"
rope = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
